#product_detail{
    margin: 30px 0;
}

#product_detail .wraper{
    background-color: rgb(235, 235, 235);
}

.product_detail_img{
    height: 700px;
}

.product_quantity_box{
    display: flex;
    padding: 30px 0;
    border-bottom: 1px dotted gray;
    border-top: 1px dotted gray;
}


.product_rating{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
}


.review_number{
    font-size: 1.2rem;
    margin-left: 5px;
    margin-top: 2px;
}

#product_detail .price{
    color: rgb(255, 194, 104);
    margin: 20px 0;
}

#product_detail .desc{
    margin: 40px 0;
}

.size_selection_box{
    margin: 40px 0;
}

.dimention{
    margin-right: 40px;
}

.dimention_select{
    padding: 12px 60px;
    border: 1px dotted gray;
    border-radius: 15px;
    background: transparent;
}

.dimention_select option{
    font-size: 1rem;
    background-color: transparent;
}

.quantity_change{
    display: flex;
}

.quantity_change button{
    width: 55px;
    height: 55px;
    border: 1px dotted gray;
    border-radius: 50%;
    background-color: transparent;
    font-weight: 500;

}

.quantity_change input{
    width: 80px;
    height: 55px;
    background: transparent;
    margin: 0 7px;
    text-align: center;
    border-radius: 15px;
    font-size: 1.5rem;
}



.Product_link_btns .add_to_fav{
    height: 55px;
    width: 65px;
    background: rgb(198, 198, 198);
    margin: 0 10px;
    border: 1px dotted gray;
    border-radius: 15px;
    transition: (--transition);
}

.add_to_fav:hover{
    background: rgb(232, 232, 232);
}
.Product_link_btns .add_to_cart{
    height: 55px;
    width: 150px;
    background: rgb(227, 165, 66);
    margin: 0 10px;
    border: 1px dotted rgb(128, 128, 128);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}


#related_product{
    margin: 100px 0;
}







.jobs-center {
    width: 80vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }

  .job-btn {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: var(--spacing);
    margin: 0 0.5rem;
    transition: var(--transition);
    cursor: pointer;
    padding: 0.25rem 0;
    line-height: 1;
    outline-color: var(--clr-primary-10);
  }
  .job-btn:hover {
    color: var(--clr-primary-5);
    box-shadow: 0 2px var(--clr-primary-5);
  }
  .active-btn {
    color: var(--clr-primary-5);
    box-shadow: 0 2px var(--clr-primary-5);
  }
  
  .job-info h3 {
    font-weight: 400;
  }
  .job-info h4 {
    text-transform: uppercase;
    color: var(--clr-grey-5);
    background: var(--clr-grey-9);
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border-radius: var(--radius);
  }
  .job-date {
    letter-spacing: var(--spacing);
  }
  .job-desc {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  .job-desc p {
    margin-bottom: 0;
    color: var(--clr-grey-3);
  }
  .job-icon {
    color: var(--clr-primary-5);
  }
  @media screen and (min-width: 992px) {
    .jobs-center {
      width: 90vw;
      /* display: grid;
      grid-template-columns: 200px 1fr;
      column-gap: 4rem; */
      border-bottom: 1px dotted gray;
    }
    .btn-container {
      display: flex;
      width: 40%;
      align-items: center;
      justify-content: space-around;
      margin: 10px auto;
      border-bottom: 1px dotted gray;
    }
    .job-btn {
      margin-bottom: 1rem;
    }
    .active-btn {
      box-shadow: -2px 0 var(--clr-primary-5);
    }
    .job-btn:hover {
      box-shadow: -2px 0 var(--clr-primary-5);
    }
  }
  .btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-primary-9);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    display: block;
    width: 12rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .btn:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-8);
  }
 
.review {
   width: 90vw;
   height: 400px;
   background-color: aliceblue;
   display: flex;
}

.reviews{
 width: 100%;
}

.add-review{
  width: 25vw; 
  /* background-color: antiquewhite;  */

}

.add-review p{
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 15px;
    margin-right: 3px;
    /* display: inline-block; */
}
.pro-rating{
    display: flex;
    align-items: center;
}


.add-review .product_star{
    height: 20px;
}
.add-review h1{
    font-size: 1.1rem;
    font-weight: 500;
}











#signu {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh; */
    width: 100%;
  }
  
  #signu form{
      /* background-color: rgb(106, 83, 83); */
      /* padding: 0px 60px; */
      border-radius: 3px;
  }
  
  #signu h1{
      color: rgb(77, 1, 77);
      text-align: center;
  }

#signu .input{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
/* #signu .input:last-child{
 align-items: right;
 margin-left: 10px;
} */

#signu textarea{
    border: 1px dotted gray;
    padding: 15px;
}
  
  #signu button{
      width: 30%;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }


  
#reviewForm{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 245px; */
    width: 100%;
}

#reviewForm input{
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 0px;
    width: 180px;
    border: 1px dotted gray;
}


#reviewForm label{
    font-size: 12px;
    color: gray;
}

#reviewForm span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

#reviewForm input:invalid[focused="true"]{
    border: 1px solid red;
}

#reviewForm input:invalid[focused="true"] ~ span{
    display: block;
}

