#shop_section{
    margin: 80px 0;
    display: flex;
    width: 100%;
}


#shop_section .filter{
    width: 25%;
    padding: 0 40px;
}

#shop_section h4{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}


#shop_section .container{
    width: 75%;
}

.form-check{
    margin-bottom: 20px;
}

.inline-1{
    display: block;
    
}

#shop_section .pagination{
   width: 25%;
   margin: auto;
   display: flex;
   justify-content: space-around;
}

#shop_section .pagination li a{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
    padding: 25%;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50%;
}








#s .App {
    font-family: sans-serif;
    text-align: center;
  }
  
#s label {
    display: flex;
    position: relative;
    margin-bottom: 2rem;
  }
  
#s  input {
    border: 1px dotted gray;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
    text-overflow: ellipsis;
  }
  
  #icon {
    position: absolute;
    right: 12px;
    top: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }