.bg1 {
    background-image: url('../image/slider/slider1.jpg');
}

.bg2 {
    background-image: url('../image/slider/slider2.jpg');
}

.bg3 {
    background-image: url('../image/slider/slider3.jpg');
}


.slider {
    background-position: center center;
    background-size: cover;
    padding: 200px 0;
}

.slider_content h5 {
    transform: translateY(-200px);
    color: black;
    opacity: 0;
}

.slider_content h2 {
    padding: 35px 0;
    font-size: 60px;
    font-weight: 700;
    transform: translateY(-200px);
    opacity: 0;
    z-index: -33;
}

.slider_content a {
    /* opacity: 0; */
    transform: translateY(200px);
}

.slider_content p {
    padding-bottom: 30px;
    /* opacity: 0; */
    transform: translateY(200px);
    color: black;
    font-weight: 600;
    font-size: 1rem;
}
.slider_content a{
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: black;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 600;
  transition: 1s;
  text-decoration: none;
  transform: translateY(200px);
}

.theme-btn-one:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#slider .slick-active .slider_content h5 {
    opacity: 1;
    animation-direction: normal;
    -webkit-animation: top-to-bottom 3s linear 1.75s 1 normal;
    -moz-animation: top-to-bottom 3s linear 1.75s 1 alternate-reverse;
    -ms-animation: top-to-bottom 3s linear 1.75s 1 alternate-reverse;
    -o-animation: top-to-bottom 3s linear 1.75s 1 alternate-reverse;
    animation-fill-mode: forwards;
}

 .slick-active .slider_content h2 {
    opacity: 1;
    animation-direction: normal;
    -webkit-animation: top-to-bottom 3s linear 1.75s 1 normal;
    -moz-animation: top-to-bottom 3s linear 1.75s 1 alternate-reverse;
    -ms-animation: top-to-bottom 3s linear 1.75s 1 alternate-reverse;
    -o-animation: top-to-bottom 3s linear 1.75s 1 alternate-reverse;
    animation-fill-mode: forwards;
}

 .slick-active .slider_content p {
    animation-direction: normal;
    -webkit-animation: red-to-black 3s linear 1.7s 1 normal;
    -moz-animation: red-to-black 3s linear 1.7s 2 normal;
    -ms-animation: red-to-black 3s linear 1s 2 normal;
    -o-animation: red-to-black 3s linear 1s 2 normal;
    animation-fill-mode: forwards;
}

 .slider_content a {
    animation-direction: normal;
    -webkit-animation: red-to-black 3s linear 1.7s 1 normal;
    -moz-animation: red-to-black 3s linear 1.7s 1 normal;
    -ms-animation: red-to-black 3s linear 1.75s 1 normal;
    -o-animation: red-to-black 3s linear 1.75s 1 normal;
    animation-fill-mode: forwards;
    
}



#about-me {
   
    animation-direction: normal;
   
    -webkit-animation: red-to-black 3s linear 1.75s 1 normal;
    -moz-animation: red-to-black 3s linear 1.75s 1 alternate-reverse;
    -ms-animation: red-to-black 3s linear 1.75s 1 alternate-reverse;
    -o-animation: red-to-black 3s linear 1.75s 1 alternate-reverse;
    animation-fill-mode: forwards;
  }
  
  @keyframes red-to-black {
  
    10% {
      /* background: red; */
      transform: translate(0px, 0px);
      /* opacity: 0; */
    }
    25% {
      /* background: red; */
      transform: translate(0px, 60px);
      /* opacity: 1; */
    }
  
    55% {
      /* background: yellow; */
      transform: translate(0px, 100px);
      /* opacity: 0.7; */
    }
   
   
  
    100% {
      /* background: black; */
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }



  @keyframes top-to-bottom {
  
    10% {
      /* background: red; */
      transform: translate(0px, 0px);
      z-index: 9999;
    }
    25% {
      /* background: red; */
      transform: translate(0px, -60px);
      /* opacity: 1; */
    }
  
    55% {
      /* background: yellow; */
      transform: translate(0px, -100px);
      /* opacity: ; */
    }
   
   
  
    100% {
      /* background: black; */
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }