/* #top_Product .product_card {
    margin-top: 35px;
}

 .nav-tabs {
    border-bottom: none;
    width: 100%;
    justify-content: center;
    background-color: antiquewhite;
    height: 60px;
}

 .nav-tabs li a {
    margin-left: 50px;
    transition: inherit;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background: transparent;
    padding-bottom: 5px;
}

 .nav-tabs li:first-child a {
    margin-left: 0px;
}

 .nav-tabs li a:hover {
    color: var(--main-theme-color);
}

 .nav-tabs li .active {
    color: var(--main-theme-color) !important;
    border-bottom: 2px solid var(--main-theme-color);
} */

.btn-container {
    margin-bottom: 4rem;
    margin: 60px auto 35px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
  }
  .filter-btn {
    /* background: red; */
    border-color: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    /* margin: 0 10px; */
    /* letter-spacing: 1px; */
    padding: 0.4rem 0.76rem;
    color: var(--clr-gold);
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--radius);
  }

  .filter-btn .active {
    color: var(--main-theme-color) !important;
    border-bottom: 2px solid var(--main-theme-color);
}

  .filter-btn:hover {
    background: var(--clr-gold);
    color: var(--clr-gray);
  }




